<ion-header>
  <ion-toolbar>
    <ion-title>Clients List</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/tabs/clients/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let client of clients">
      <ion-label class="element-label">
        <h4>{{client.name}}</h4>
      </ion-label>
      <ion-button [routerLink]="['/tabs/clients/details/', client.id]">Edit</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
