<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Clients List</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="success" text="Back" defaultHref="/tabs/clients/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let client of clients">
      <ion-label color="secondary" class="element-label">{{client.name}}
      </ion-label>
      <ion-button [routerLink]="['/tabs/clients/details/', client.id]">Edit</ion-button>
    </ion-item>
  </ion-list>
</ion-content>